:host{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.form-field{
    width: 100%;
}

.task-from{
    display: flex;
    align-items: center;
    justify-content: space-around;
}